html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color:white;
}
/*Aquí empieza mi codigo css */



#background{
	/*background-image: url(../Assets/img2.jpg); Haría aparecer la imagen desde el principio*/
	background-repeat: no-repeat; /*Hace que la imagen no se repita */
    background-position: center; /*Centra la imagen  */
    background-size: cover; /*La imagen cubre el tamaño de la pantalla */
}

.unicodes{
	padding:1em; /*Aplica a los 4 lados */
}

.container{
	display:flex;
	width:1400px;
	gap:60px;
}

.element-left, .element-right{
	/*1. Caracteristicas flex */
	display:flex;
	flex-direction: column;
	gap:10px;
	justify-content: center;
	/*2. Caracteristicas Tamaños - padding-margins - mobilefirst */
	margin-top: 2%;
	margin-left: 5%;
	/*3. Caracteristicas de fuentes y background */
	/*Pongo el background como transparente para poderlo utilizar después para diferenciar los elementos por
	si tuviera que hacerme falta otra vez */
	background-color:none;
	color:white;
}



.reloj, .link, .passwoord, .meteo{
	/*1. Caracteristicas flex */
	display:flex;
	gap:20px;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	/*2. Caracteristicas  de caja: Tamaños - padding-margins borders - mobilefirst */
	width:500px; /* Cuidado no se está adaptando al movil*/
	padding:1em; /*Aplica a los 4 lados */
	border-width: 3px;
  	border-style: solid;
  	border-color: black;
	/*3. Caracteristicas de fuentes  texto y background */
	text-align: center;
	/*Pongo el background como transparente para poderlo utilizar después para diferenciar los elementos por
	si tuviera que hacerme falta otra vez */
	background-color:grey;
	opacity: 0.8; /*Añade opacidad/transparencia al elemento */
}

#relojpagestyle, #linkpagestyle, #passwoordpagestyle{
	margin-top: 10%;
	margin-left: 29%;
}

button{
	background-color:green;
	color:white;
}

.linkcontainer{
	display:flex;
	background-color: aquamarine;
	gap:20px;
	justify-content: space-between;
	color:black;
	padding:20px,20px,20px,20px;
	margin:20px,20px,20px,20px;
}


@media screen and (max-width:900px){ /*A 700px de tamaño cambia a 300px de ancho */
	.reloj, .link, .meteo, .passwoord{
		width: 300px;
	}
}

@media screen and (max-width:900px){
	.container, .background{
		width: 900px; 
		flex-direction: column;
		align-items: center;
		justify-content: center ;
	}
}/*Modifica tamaño de body al reducir la pantalla, la foto se adapta al tamaño movil
 utilizar el size:cover */

